/* @import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Tilt Neon;
    font-weight: 400;
    src: url(/assets/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf);
  }
}

body {
  /* background: var(--tg-theme-secondary-bg-color, white); */
  background: #000;
  padding: 0;
  margin: 0;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
  font-style: normal;
}